<app-nav-bar id="navbar"></app-nav-bar>
<div class="container">
  <div class="row top-buffer">
    <div class="section-title">
      <h1>ABOUT CORVO CARS</h1>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="section-text principal-text">
        <p> Corvo cars gives to you the satisfaction to drive a personalized luxury vehicle. 
          With our three models Corvo Imperiale, Corvo Kubanyi and Corvo Imparatus you have the change to
          choose between diferent types of cars depending on your lifestyle. And this is just the begining 
          Corvo Cars continues improving and creating more products to satisfy our customers, that´s the future
          that we want.  
        </p>
      </div>
    </div>

  </div>
  <div class="top-buffer"></div>
  <div class="top-buffer"></div>
  <div class="top-buffer"></div>
  <div class="row top-buffer">
    <div class="col-sm-6 card-container">
      <div class="">
        <div class="row">
          <div class="section-subtitle">
            <h1>MISSION</h1>
          </div>
        </div>
        <div class="row">
          <div class="section-text">
            <p> "To manufacture products of top quality in order to satisfy the individual needs of
              all our customers"
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 card-container">
      <div class="">
        <div class="row">
          <div class="section-subtitle">
            <h1>VISION</h1>
          </div>
        </div>
        <div class="row">
          <div class="section-text">
            <p>Our goals are always focus in giving the best experience to our users, we already know thas
              our cutomers wants original and luxury cars, but what we want is to give them the 
              chance to choose between more than 3 models and increase the customization options. 
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row top-buffer">
    <div class="team-section">
      <div class="section-subtitle">
        <h1>OUR TEAM</h1>
      </div>
      <div class="row top-buffer">
        <div class="row top-buffer">

        <div class="col-sm-3 col-sm-offset-2 card-container">
          <div class="row">
            <img class="dev-photo" src="../../assets/images/josue-foto.jpg" alt="">
          </div>
          <div class="row">
            <div class="section-subtitle">
              <h2>DEVELOPER</h2>
            </div>
          </div>
          <div class="row">
            <div class="section-text">
              <h3>Josué Villagra Marín</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offset-2 card-container">
            <div class="row">
                <img class="dev-photo" src="../../assets/images/denisse-photo.jpg" alt="">
              </div>
            <div class="row">
              <div class="section-subtitle">
                <h2>DEVELOPER</h2>
              </div>
            </div>
            <div class="row">
              <div class="section-text">
                <h3>Denisse Gonzalez Salas</h3>
              </div>
            </div>
          </div>
        </div>
          <div class="row top-buffer">

          <div class="col-sm-3 col-sm-offset-2 card-container">
              <div class="row">
                  <img class="dev-photo" src="../../assets/images/diego-photo.jpg" alt="">
                </div>
              <div class="row">
                <div class="section-subtitle">
                  <h2>DEVELOPER</h2>
                </div>
              </div>
              <div class="row">
                <div class="section-text">
                  <h3>Luis Diego Quirós</h3>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-sm-offset-2 card-container">
                <div class="row">
                    <img class="dev-photo" src="../../assets/images/chino-foto.jpeg" alt="">
                  </div>
                <div class="row">
                  <div class="section-subtitle">
                    <h2>DEVELOPER</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="section-text">
                    <h3>Steven Quesada Arguedas</h3>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>




</div>